# Ignore everything by default
/*

# Whitelist only mobile-native
!/mobile-native
!/mobile-native/**
!/package.json
!/.easignore
!/eas.json

# Exclude generated caches inside mobile-native
mobile-native/node_modules/
mobile-native/.expo/
mobile-native/dist/
mobile-native/android/
mobile-native/ios/
mobile-native/*.log
